<div class="wrapper">
  <div class="card w-50 p-4">
    <div class="card-body row">
      <div class="weather-temp col">
        <img class="weather-img" alt="weather-img" src="{{ pathImg }}" />
        <h1 class="temperature">{{ tempCurrent }}</h1>
        <div class="btn-toggle">
          <a
            id="celsius"
            class="btn-temperature-switch active"
            (click)="onToggle('C')"
            >&#176;C</a
          >
          <div class="line-between-btn"></div>
          <a
            id="fahrenheit"
            class="btn-temperature-switch"
            (click)="onToggle('F')"
            >&#176;F</a
          >
        </div>
      </div>
      <div class="weather-info col">
        <p>Precipitation: {{ weather?.precipitation }}%</p>
        <p>Humidity: {{ weather?.humidity }}%</p>
        <p>Wind: {{ weather?.wind }} {{ weather?.wind_type }}</p>
      </div>
    </div>
  </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
